---
import MainLayout from '../../layouts/main.astro'
import PostCard from '../../components/post-card.astro'
const allPosts = await Astro.glob('./*.mdx')
---

<MainLayout title='WG | Blog' description='Blog'>
    <h1>Blog Posts</h1>
    {
        allPosts.map((post) => <PostCard frontmatter={post.frontmatter} url={post.url}/>)
    }
</MainLayout>

<style>
    h1 {
        text-align: center;
        margin: 10px 0;
    }
</style>